<section class="patient-section">

    <header>
        <h1>Patient Table</h1>
    </header>

    <article class="search-container">
        <h3>Search for patient:</h3>
        <form (ngSubmit)="onSubmit()" #patientForm="ngForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="searchInput.name" name="name"
                    #name="ngModel" pattern="[A-Za-z]+">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Please enter a valid name
                </div>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <!-- <input type="date" class="form-control" id="dob" name="dob" #dob="ngModel"
                    [ngModel]="searchInput.dob | date:'yyyy-MM-dd'" (ngModelChange)="searchInput.dob = $event"> -->
                <input type="text" class="form-control" id="dob" [(ngModel)]="searchInput.dob" name="dob"
                    #dob="ngModel" pattern="[0-9]{4}[/][0-9]{2}[/][0-9]{2}">
                <div [hidden]="dob.valid || dob.pristine" class="alert alert-danger">
                    Please enter a valid Date of birth
                </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!patientForm.form.valid || submitted">Search</button>
        </form>
    </article>

    <article class="table-container" *ngIf="patientList.length">
        <table>
            <!-- Table Header -->
            <thead>
                <tr>
                    <th *ngFor="let column of headers | keyvalue: originalOrder">
                        {{column.value}}
                    </th>
                </tr>
            </thead>
            <!-- Table Body -->
            <tbody>
                <tr *ngFor="let row of patientList">
                    <td *ngFor="let column of headers | keyvalue: originalOrder">
                        {{row[column.key]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </article>

    <footer>
        <span *ngIf="patientList.length"> Fetch Time: {{ apiTime | timer }} </span>
    </footer>
</section>