@import './../../app.component.scss';

.patient-section {
    @include flex-center();

    .search-container {
        h3 {
            margin: 0;
        }
        @include flex-center();
        form {
            @include flex-center();

            .form-group {
                margin: 16px;
            }
        
            label{
                display: block;
            }
            button {
                margin: 16px;
                justify-self: center;
            }
        }

        .ng-valid[required],
        .ng-valid.required {
            border-left: 5px solid #42a948;
        }
        .ng-invalid:not(form) {
            border-left: 5px solid #a94442;
        }
    }

    .table-container {
        table {
            border-collapse: collapse;

            td,
            th {
                border: 1px solid #999;
                padding: 0.5rem;
            }
        }
    }

    footer {
        padding-top: 16px;
    }
}
